language: python
sudo: false
cache: pip

services:
  - redis-server

matrix:
  include:
  - python: 2.7
    env: TOXENV=py-release
  - python: 2.7
    env: TOXENV=py-full
  - python: 2.7
    env: TOXENV=py-redis
  - python: 2.7
    env: TOXENV=py-s3
  - python: 3.4
    env: TOXENV=py-release
  - python: 3.4
    env: TOXENV=py-full
  - python: 3.4
    env: TOXENV=py-redis
  - python: 3.4
    env: TOXENV=py-s3
  - python: 3.4
    env: TOXENV=py-svg
  - python: 3.5
    env: TOXENV=py-release
  - python: 3.5
    env: TOXENV=py-full
  - python: 3.5
    env: TOXENV=py-redis
  - python: 3.5
    env: TOXENV=py-s3
  - python: 3.5
    env: TOXENV=py-svg
  - python: 3.6
    env: TOXENV=py-release
  - python: 3.6
    env: TOXENV=py-full
  - python: 3.6
    env: TOXENV=py-redis
  - python: 3.6
    env: TOXENV=py-s3
  - python: 3.6
    env: TOXENV=py-svg
  - python: pypy
    env: TOXENV=py-release
  - python: pypy
    env: TOXENV=py-full
  - python: pypy
    env: TOXENV=py-redis
  - python: pypy
    env: TOXENV=py-s3

install:
    - pip install tox

script:
    - tox

after_success:
    - pip install coveralls
    - coveralls
